<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/project_with_description', 
        title: projects.title,
        subtitle: projects.url,
        subtitle: projects.techstack,
        description: projects.description
    %>
    </div>